<h1>New Account</h1>

<%= form_for @account do |f|%>

<h2>Please select one category.</h2>
<div>
	<%= f.select :title , options_for_select(["Home" , "Personal" , "Food", "Car" , "Shopping" ])%>
</div>
<h2>Please enter the expense.</h2>
<div>
	<%= f.text_field :expense %>
</div>
<%= f.submit %>

<% end %>

<%= link_to 'Back', accounts_path %>
